@media (min-width: 768px) {
  .inactive-menu {
    -webkit-transition: 0.7s all;
    transition: 0.7s all;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .active-menu {
    -webkit-transition: 0.7s all;
    transition: 0.7s all;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .disabled {
    display: none;
  }
  .enabled {
    display: block;
  }
  .header_768px {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  .header-icons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .icon-group_mod {
    margin-right: 50px;
  }
  .header__search {
    margin-right: 15px;
  }
  .header__tools {
    margin-left: 0;
  }
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 25px;
    left: 22px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
  .menu-btn > span::before {
    content: "";
    top: -8px;
  }
  .menu-btn > span::after {
    content: "";
    top: 8px;
  }
  #menu-toggle {
    opacity: 0;
  }
  #menu-toggle:checked ~ .menu-btn > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menu-wrapper {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #menu-toggle:checked ~ .menu-btn {
    left: 22px;
  }
  #menu-toggle:checked ~ .main-mod {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .header__logo {
    margin-right: 45px;
  }
  .main-menu_768px {
    position: relative;
    z-index: 10;
    font-size: 16px;
    line-height: 40px;
    list-style-type: none;
  }
  .main-menu_768px li a:hover:checked:visited {
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    text-decoration: underline;
  }
  .main-menu_768px li > a {
    color: inherit;
    text-decoration: none;
  }
  .active {
    color: #7E7E82;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    text-decoration: underline;
  }
  .lang-active {
    color: #7E7E82;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    text-decoration: underline;
  }
  .active::before {
    content: "";
    position: absolute;
    height: 32px;
    width: 4px;
    left: -19px;
    background: #41F6D7;
  }
  .loupe-image {
    display: none;
  }
  .footer_768px {
    margin-top: 50px;
    display: block;
    margin-left: 40px;
    width: 100%;
  }
  .footer_768px div {
    margin-bottom: 15px;
  }
  .footer__icon-group {
    display: block;
  }
  .footer__icon-group > div {
    margin-right: 15px;
    display: block;
    float: left;
  }
  .footer__icon-group div:last-child {
    margin-right: 0;
  }
  .footer__mail a {
    color: inherit;
    text-decoration: none;
  }
  .footer__number {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    font-weight: 700;
  }
  .footer__number a {
    color: inherit;
    text-decoration: none;
  }
  .footer__lang-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer__lang-group div {
    margin-right: 10px;
  }
  .footer__lang-group:last-child {
    margin-right: 0;
  }
  .clearfix {
    clear: both;
  }
  .subtext {
    width: 100vw;
    background: #F8F8F8;
    padding-top: 30px;
    display: block;
    min-height: 60px;
    color: #1B1C21;
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }
  .subtext span {
    margin-left: 30px;
    margin-top: 20px;
    display: inline-block;
    max-width: 421px;
  }
  .commercial {
    margin-left: 15px;
    margin-top: 20px;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
  .commercial button a {
    color: inherit;
    text-decoration: none;
  }
  .commercial::after {
    content: "";
    position: absolute;
    top: 0;
    width: 15px;
    height: 15px;
    border-top: 3px solid #FF3E79;
    border-right: 3px solid #FF3E79;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .commercial__btn {
    font-weight: 700;
    background: none;
    border: none;
    height: 24px;
    width: 292px;
  }
  .page-footer {
    margin-top: 30px;
    font-size: 14px;
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100px;
  }
  .page-footer div {
    width: 220px;
  }
  .page-footer div:nth-child(2) {
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
}
@media (max-width: 321px) {
  label.menu-btn {
    top: 33px;
  }
  .header-icons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 375px) {
  .text_mod {
    width: 214px;
    font-size: 13px;
  }
  .main-mod {
    height: 550px;
  }
  .wrapper-mod {
    margin-top: 100px;
  }
  .wrapper {
    background: #F2F2F2;
  }
}
@media (max-width: 425px) {
  .swiper.swiper-for-mobile, .swiper-box {
    width: 260px;
    background: #F2F2F2;
    height: 230px;
  }
  .swiper-box {
    display: block;
  }
  .swiper-title, .swiper-title__text, .swiper-price, .swiper-price__text, .swiper-duration, .swiper-duration__text {
    color: #7E7E82;
  }
  .swiper-title__text, .swiper-price__text, .swiper-duration__text {
    color: #1B1C21;
  }
  .swiper-duration__text, .swiper-order-serv {
    display: inline-block;
  }
  .swiper-order-serv {
    height: 32px;
    width: 119px;
    border-radius: 16px;
    color: #ffffff;
    background: #FF3E79;
    margin-left: 20px;
  }
  .swiper-title__text, .swiper-price__text {
    margin-bottom: 20px;
  }
  .grid {
    display: none;
  }
  .wrapper_mod {
    padding-top: 20px;
    color: #7E7E82;
    display: block;
    padding: 5px;
    text-transform: capitalize;
    width: 120vw;
    min-height: 230px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    background: #F2F2F2;
  }
  .wrapper__header {
    margin-bottom: 35px;
    background: -webkit-gradient(linear, right top, left top, from(#F8F8F8), color-stop(98.61%, #FFFFFF));
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    padding: 15px;
    width: 120vw;
    height: 55px;
  }
  .grid-container, .grid-container_technics, .grid-container_price {
    gap: 5px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: grid;
    height: 60%;
    width: 99%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75px 75px;
    background: #F2F2F2;
  }
  .grid-container_technics {
    grid-template-rows: 160px 160px;
  }
  .grid-container_price {
    text-align: left;
    justify-items: start;
    grid-template-columns: 1fr 155px 155px 155px;
    grid-template-rows: repeat(6, 50px);
  }
  .first {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .second {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .third {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .for-order {
    position: relative;
    height: 32px;
    width: 119px;
    border-radius: 16px;
    background: #FF3E79;
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    padding-left: 20px;
    color: #FFFFFF;
  }
  .for-order span {
    display: inline-block;
  }
  .for-order::before {
    content: "";
    z-index: 10;
    display: block;
    position: absolute;
    top: 8px;
    left: 80px;
    height: 9px;
    width: 9px;
    border-top: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .grid-container__elem_price {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    padding-left: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background: #FFFFFF;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5px;
    border-radius: 5px;
  }
  .grid-container__elem_price:nth-child(4) {
    background: none;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .grid-container__elem_price:nth-child(5) {
    background: none;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .grid-container__elem_price:nth-child(6) {
    background: none;
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .grid-container__elem_price:nth-child(7) {
    background: none;
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .grid-container__elem_price:nth-child(8) {
    background: none;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .grid-container__elem_price:nth-child(9) {
    background: none;
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .grid-container__elem_price:nth-child(10) {
    background: none;
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .grid-container__elem_price:nth-child(11) {
    background: none;
    grid-column: 4/5;
    grid-row: 3/4;
  }
  .grid-container__elem_price:nth-child(12) {
    background: none;
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .grid-container__elem_price:nth-child(13) {
    background: none;
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .grid-container__elem_price:nth-child(14) {
    background: none;
    grid-column: 3/4;
    grid-row: 4/5;
  }
  .grid-container__elem_price:nth-child(15) {
    background: none;
    grid-column: 4/5;
    grid-row: 4/5;
  }
  .grid-container__elem_price:nth-child(16) {
    background: none;
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .grid-container__elem_price:nth-child(17) {
    background: none;
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .grid-container__elem_price:nth-child(18) {
    background: none;
    grid-column: 3/4;
    grid-row: 5/6;
  }
  .grid-container__elem_price:nth-child(19) {
    background: none;
    grid-column: 4/5;
    grid-row: 5/6;
  }
  .grid-container__elem_price:nth-child(20) {
    background: none;
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .grid-container__elem_price:nth-child(21) {
    background: none;
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .grid-container__elem_price:nth-child(22) {
    background: none;
    grid-column: 3/4;
    grid-row: 6/7;
  }
  .grid-container__elem_price:nth-child(23) {
    background: none;
    grid-column: 4/5;
    grid-row: 6/7;
  }
  .grid-container__elem_technics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: start !important;
  }
  .header_title {
    margin-top: 70px;
    background-color: #f8f8f8;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 35px;
    padding: 15px;
    width: 100%;
    height: 55px;
  }
  .title-price {
    width: 85% !important;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5px;
    border-radius: 5px;
    padding-left: 20px;
    background-color: #f8f8f8;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
  }
  .next {
    -ms-flex-item-align: end;
        align-self: end;
  }
  .second-container {
    -webkit-transform: translateY(6px) !important;
            transform: translateY(6px) !important;
    gap: 5px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: grid;
    height: 60%;
    width: 99%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75px;
    background: #F2F2F2;
  }
  .grid-container__elem {
    background: #FFFFFF;
    width: 85% !important;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5px;
    border-radius: 5px;
  }
  .inactive-menu {
    -webkit-transition: 0.7s all;
    transition: 0.7s all;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .active-menu {
    -webkit-transition: 0.7s all;
    transition: 0.7s all;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .disabled {
    display: none;
  }
  .enabled {
    display: block;
  }
  .wrapper {
    width: 120vw;
    color: #1B1C21;
  }
  .header_360px {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 25px;
    left: 22px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
  .menu-btn > span::before {
    content: "";
    top: -8px;
  }
  .loupe-image {
    display: none;
  }
  .menu-btn > span::after {
    content: "";
    top: 8px;
  }
  #menu-toggle {
    opacity: 0;
  }
  #menu-toggle:checked ~ .menu-btn > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menu-wrapper {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #menu-toggle:checked ~ .menu-btn {
    left: 22px;
  }
  #menu-toggle:checked ~ .main-mod {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .header__logo {
    margin-right: 45px;
  }
  .main-menu_360px {
    position: relative;
    z-index: 10;
    font-size: 16px;
    line-height: 40px;
    list-style-type: none;
  }
  .main-menu_360px li a:hover:checked:visited {
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    text-decoration: underline;
  }
  .main-menu_360px li > a {
    color: inherit;
    text-decoration: none;
  }
  .active {
    color: #7E7E82;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    text-decoration: underline;
  }
  .lang-active {
    color: #7E7E82;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    text-decoration: underline;
  }
  .active::before {
    content: "";
    position: absolute;
    height: 32px;
    width: 4px;
    left: -19px;
    background: #41F6D7;
  }
  .subtext {
    height: 138px;
    width: 288px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }
  .subtext span {
    margin-left: 30px;
    margin-top: 20px;
    display: inline-block;
    max-width: 421px;
  }
  .commercial {
    margin-left: 15px;
    margin-top: 20px;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
  }
  .commercial button a {
    color: inherit;
    text-decoration: none;
  }
  .commercial::after {
    content: "";
    position: absolute;
    top: 0;
    width: 15px;
    height: 15px;
    border-top: 3px solid #FF3E79;
    border-right: 3px solid #FF3E79;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .commercial__btn {
    font-weight: 700;
    background: none;
    border: none;
    height: 24px;
    width: 292px;
  }
  .page-footer {
    text-align: center;
    line-height: 35;
    color: #7E7E82;
  }
  .footer_360px {
    margin-top: 50px;
    display: block;
    margin-left: 40px;
    width: 120vw;
  }
  .footer_360px div {
    margin-bottom: 15px;
  }
  .footer__icon-group {
    display: block;
  }
  .footer__icon-group > div {
    margin-right: 15px;
    display: block;
    float: left;
  }
  .footer__icon-group div:last-child {
    margin-right: 0;
  }
  .footer__mail a {
    color: inherit;
    text-decoration: none;
  }
  .footer__number {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    font-weight: 700;
  }
  .footer__number a {
    color: inherit;
    text-decoration: none;
  }
  .footer__lang-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer__lang-group div {
    margin-right: 10px;
  }
  .footer__lang-group:last-child {
    margin-right: 0;
  }
  .clearfix {
    clear: both;
  }
}
@media (min-width: 768px) {
  .wrapper_mod {
    padding-top: 20px;
    color: #7E7E82;
    display: block;
    padding: 5px;
    text-transform: capitalize;
    width: 100vw;
    min-height: 210px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    background: #F2F2F2;
  }
  .wrapper__header {
    margin-bottom: 35px;
    background: -webkit-gradient(linear, right top, left top, from(#F8F8F8), color-stop(98.61%, #FFFFFF));
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    padding: 15px;
    width: 100%;
    height: 55px;
  }
  .grid-container, .grid-container_technics, .grid-container_price {
    gap: 5px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: grid;
    height: 60%;
    width: 99%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75px 75px;
    background: #F2F2F2;
  }
  .grid-container_technics {
    grid-template-rows: 160px 160px;
  }
  .grid-container_price {
    text-align: left;
    justify-items: start;
    grid-template-columns: 1fr 155px 155px 155px;
    grid-template-rows: repeat(6, 50px);
  }
  .first {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .second {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .third {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .for-order {
    position: relative;
    height: 32px;
    width: 119px;
    border-radius: 16px;
    background: #FF3E79;
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    padding-left: 20px;
    color: #FFFFFF;
  }
  .for-order span {
    display: inline-block;
  }
  .for-order::before {
    content: "";
    z-index: 10;
    display: block;
    position: absolute;
    top: 8px;
    left: 80px;
    height: 9px;
    width: 9px;
    border-top: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .grid-container__elem_price {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    padding-left: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background: #FFFFFF;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5px;
    border-radius: 5px;
  }
  .grid-container__elem_price:nth-child(4) {
    background: none;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .grid-container__elem_price:nth-child(5) {
    background: none;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .grid-container__elem_price:nth-child(6) {
    background: none;
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .grid-container__elem_price:nth-child(7) {
    background: none;
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .grid-container__elem_price:nth-child(8) {
    background: none;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .grid-container__elem_price:nth-child(9) {
    background: none;
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .grid-container__elem_price:nth-child(10) {
    background: none;
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .grid-container__elem_price:nth-child(11) {
    background: none;
    grid-column: 4/5;
    grid-row: 3/4;
  }
  .grid-container__elem_price:nth-child(12) {
    background: none;
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .grid-container__elem_price:nth-child(13) {
    background: none;
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .grid-container__elem_price:nth-child(14) {
    background: none;
    grid-column: 3/4;
    grid-row: 4/5;
  }
  .grid-container__elem_price:nth-child(15) {
    background: none;
    grid-column: 4/5;
    grid-row: 4/5;
  }
  .grid-container__elem_price:nth-child(16) {
    background: none;
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .grid-container__elem_price:nth-child(17) {
    background: none;
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .grid-container__elem_price:nth-child(18) {
    background: none;
    grid-column: 3/4;
    grid-row: 5/6;
  }
  .grid-container__elem_price:nth-child(19) {
    background: none;
    grid-column: 4/5;
    grid-row: 5/6;
  }
  .grid-container__elem_price:nth-child(20) {
    background: none;
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .grid-container__elem_price:nth-child(21) {
    background: none;
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .grid-container__elem_price:nth-child(22) {
    background: none;
    grid-column: 3/4;
    grid-row: 6/7;
  }
  .grid-container__elem_price:nth-child(23) {
    background: none;
    grid-column: 4/5;
    grid-row: 6/7;
  }
  .grid-container__elem_technics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: start !important;
  }
  .header_title {
    margin-top: 70px;
    background-color: #f8f8f8;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 35px;
    padding: 15px;
    width: 100%;
    height: 55px;
  }
  .title-price {
    width: 85% !important;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5px;
    border-radius: 5px;
    padding-left: 20px;
    background-color: #f8f8f8;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
  }
  .next {
    -ms-flex-item-align: end;
        align-self: end;
  }
  .second-container {
    -webkit-transform: translateY(6px) !important;
            transform: translateY(6px) !important;
    gap: 5px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: grid;
    height: 60%;
    width: 99%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75px;
    background: #F2F2F2;
  }
  .grid-container__elem {
    background: #FFFFFF;
    width: 85% !important;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5px;
    border-radius: 5px;
  }
  .inactive {
    display: none;
  }
  .active {
    display: grid;
  }
  .show-more_mod {
    -webkit-transform: translate(5rem, 30px);
            transform: translate(5rem, 30px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 130px;
    height: 25px;
  }
  .show-more__btn {
    color: #1B1C21;
    border: none;
    cursor: pointer;
  }
  .img-for-btn {
    width: 8px;
    height: 5px;
    -webkit-transform: translate(80px, 38px);
            transform: translate(80px, 38px);
  }
}
@media (max-width: 426px) {
  .grid {
    display: none;
  }
  .wrapper__header {
    margin-bottom: 15px;
    background: -webkit-gradient(linear, right top, left top, from(#F8F8F8), color-stop(98.61%, #FFFFFF));
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    padding: 15px;
    width: 100%;
    height: 80px;
  }
  .swiper {
    display: block;
    background: -webkit-gradient(linear, right top, left top, from(#F8F8F8), color-stop(98.61%, #FFFFFF));
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    width: 280px;
    height: 70px;
  }
  .swiper-wrapper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .swiper-button-next {
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 20px;
  }
  .swiper-slide-active {
    padding-left: 10px;
  }
  #pag {
    display: inline-block;
    top: 50rem;
    left: 28% !important;
    height: 30px;
    width: 140px;
  }
  .second-container, .grid-container, .show-more_mod, .img-for-btn {
    display: none;
  }
}
@media (min-width: 426px) {
  .swiper, #pag {
    display: none;
  }
}
@media (min-width: 1024px) {
  .button-group_mod {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .header-mod {
    display: none;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    padding-top: 20px;
    max-width: 768px;
    min-height: 90px;
  }
  .header__menu {
    float: left;
    margin-left: 20px;
  }
  .header__logo {
    margin-right: 40px;
    float: left;
  }
  .header__logo img {
    height: 35px;
  }
  .header__tools {
    display: inline-block;
    float: right;
    margin-left: 15px;
  }
  .header__search {
    float: right;
  }
  .icon-group_mod {
    margin-left: 50px;
    display: inline-block;
    float: right;
  }
  .icon-group__phone, .icon-group__chat {
    margin-right: 10px;
  }
  .divider::after {
    content: "";
    position: absolute;
    right: calc(10rem + 8px);
    top: 25px;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
  }
  .main-mod {
    position: absolute;
    z-index: 1;
    top: 100px;
    padding-top: 40px;
    background-color: #F8F8F8;
    width: 100%;
    min-height: 570px;
  }
  .order-wrapper {
    display: none;
    margin-bottom: 20px;
    width: 37%;
    float: right;
  }
  .leave-order, .check-repair {
    display: inline-block;
    width: 45%;
    cursor: pointer;
  }
  .leave-order span, .check-repair span {
    display: inline-block;
    vertical-align: bottom;
    height: 34px;
  }
  .leave-order__btn, .check-repair__btn {
    border: none;
  }
  .title {
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    text-align: left;
  }
  .title_mod {
    left: 10px;
    position: absolute;
    top: -4%;
    padding-top: 20px;
    margin-left: 20px;
  }
  .button-group_mod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 20px;
    overflow-x: scroll;
    width: 100%;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
  }
  .btn {
    display: inline-block;
    height: 40px;
    min-width: 248px;
    margin-right: 20px;
    padding: 5px;
  }
  .btn:last-child {
    margin-right: 0;
  }
  .btn:hover {
    border-radius: 6px;
    border: 2px solid #B8FFEC;
  }
  .text {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
  }
  .text_mod {
    line-height: 30px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    width: 340px;
    min-height: 250px;
    font-size: 16px;
  }
  .further-wrapper {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
  .further-wrapper_mod {
    width: 50%;
    height: 25px;
  }
  .read-further_mod {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-self: flex-end;
    width: 90%;
    height: 50px;
    cursor: pointer;
  }
  .read-further__logo {
    background-color: #EAEAEA;
    height: 13px;
    width: 13px;
    border-radius: 0px;
    margin-right: 10px;
  }
  .main-image_mod {
    width: 53%;
    margin: 0 auto;
    float: right;
  }
  .main-image_mod img {
    width: 100%;
  }
  .clearfix {
    clear: both;
  }
  .main-mod-move {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .main-mod-not-move {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
}
.footer__chat, .footer__phone {
  cursor: pointer;
}

@media (min-width: 321px) and (max-width: 767px) {
  .header-mod {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    padding-top: 20px;
    max-width: 768px;
    min-height: 90px;
  }
  .header__menu {
    float: left;
    margin-left: 20px;
  }
  .order-wrapper {
    display: none;
  }
  .header__logo {
    margin-left: 4rem;
    float: left;
  }
  .header__logo img {
    height: 35px;
  }
  .header__tools {
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-left: 20px;
  }
  .header__search {
    float: right;
    margin-right: 45px;
  }
  .icon-group_mod {
    margin-right: 20px;
    display: none;
    float: right;
  }
  .icon-group__phone, .icon-group__chat {
    margin-right: 10px;
  }
  .divider::after {
    content: "";
    position: absolute;
    right: calc(10rem + 8px);
    top: 25px;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
  }
  .main-mod {
    position: absolute;
    z-index: 1;
    top: 100px;
    background-color: #F8F8F8;
    max-width: 769px;
    min-height: 250px;
  }
  .title {
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    text-align: left;
  }
  .title_mod {
    padding-top: 20px;
    margin-left: 20px;
  }
  .button-group_mod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 20px;
    overflow-x: scroll;
    width: 100%;
    font-size: 13px;
    line-height: 17px;
    text-align: left;
  }
  .btn {
    display: inline-block;
    height: 40px;
    min-width: 200px;
    margin-right: 20px;
    padding: 5px;
  }
  .btn:last-child {
    margin-right: 0;
  }
  .btn:hover:focus:active {
    border-radius: 6px;
    border: 2px solid #B8FFEC;
  }
  .text {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
  }
  .text_mod {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    width: 245px;
    min-height: 250px;
    font-size: 14px;
  }
  .further-wrapper {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
  .further-wrapper_mod {
    width: 50%;
    height: 25px;
  }
  .read-further_mod {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-self: flex-end;
    width: 90%;
    cursor: pointer;
  }
  .read-further__logo {
    background-color: #EAEAEA;
    height: 13px;
    width: 13px;
    border-radius: 0px;
    margin-right: 10px;
  }
  .main-image_mod {
    width: 50%;
    margin: 0 auto;
    float: right;
  }
  .main-image_mod img {
    width: 100%;
  }
  .clearfix {
    clear: both;
  }
  .main-mod-move {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .main-mod-not-move {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
}
@media (max-width: 321px) {
  .header-mod {
    margin: 0 auto;
    width: 100%;
    padding: 5px;
    max-width: 320px;
    min-height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
  }
  .order-wrapper {
    display: none;
  }
  .icon-group_mod {
    display: none;
  }
  .header__logo {
    margin: 0 40px 0 25px;
  }
  .divider::after {
    content: "";
    position: absolute;
    right: calc(4rem + 9px);
    top: 26px;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
  }
  .main-mod {
    position: absolute;
    z-index: 1;
    top: 100px;
    background-color: #F8F8F8;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 320px;
    min-height: 300px;
  }
  .title {
    font-family: "TT Lakes";
    font-weight: 700;
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    text-align: left;
  }
  .title_mod {
    float: left;
    width: 85%;
  }
  .button-group_mod {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    height: 40px;
    width: 320px;
    border-radius: 6px;
    overflow-x: scroll;
  }
  .btn {
    min-width: 250px;
    height: 25px;
  }
  .btn:hover:focus:active {
    border: 2px solid #B8FFEC;
  }
  .text {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
  }
  .text_mod {
    width: 290px;
    height: 250px;
    font-size: 14px;
    float: left;
    clear: both;
  }
  .further-wrapper {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
  .further-wrapper_mod {
    margin-left: 20px;
    width: 100%;
    height: 25px;
  }
  .read-further_mod {
    margin-top: 30px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-self: flex-end;
    width: 90%;
    float: left;
  }
  .read-further__logo {
    background-color: #EAEAEA;
    height: 13px;
    width: 13px;
    border-radius: 0px;
    margin-right: 10px;
  }
  .main-image_mod {
    margin: 0 auto;
    margin-top: 20px;
    height: 230.8047485352px;
    width: 320px;
    float: left;
  }
  .clearfix {
    overflow: visible;
    clear: both;
  }
  .main-mod-move {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .main-mod-not-move {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
}
@media (min-width: 1024px) {
  .inactive-menu {
    -webkit-transition: 0.7s all;
    transition: 0.7s all;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .active-menu {
    -webkit-transition: 0.7s all;
    transition: 0.7s all;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .disabled {
    display: inline-block;
  }
  .enabled {
    display: block;
  }
  .header_768px {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  .header-icons-wrapper {
    width: 400px;
    display: inline-block;
  }
  .icon-group_mod {
    float: left;
  }
  .header__tools {
    margin: 0px;
    padding: 0px;
  }
  .header__search {
    margin-left: 15px;
    padding: 0px;
  }
  .wrapper_mod {
    margin-top: 40px;
  }
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 25px;
    left: 93px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
  .loupe-image {
    display: none;
  }
  .menu-btn > span::before {
    content: "";
    top: -8px;
  }
  .menu-btn > span::after {
    content: "";
    top: 8px;
  }
  #menu-toggle {
    opacity: 0;
  }
  #menu-toggle:checked ~ .menu-btn > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menu-wrapper {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #menu-toggle:checked ~ .menu-btn {
    left: 86px;
  }
  #menu-toggle:checked ~ .main-mod {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .header__logo {
    margin-right: 45px;
  }
  .main-menu_768px {
    position: relative;
    z-index: 10;
    font-size: 16px;
    line-height: 40px;
    list-style-type: none;
  }
  .main-menu_768px li a:hover:checked:visited {
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    text-decoration: underline;
  }
  .main-menu_768px li > a {
    color: inherit;
    text-decoration: none;
  }
  .active {
    color: #7E7E82;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    text-decoration: underline;
  }
  .lang-active {
    color: #7E7E82;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    text-decoration: underline;
  }
  .active::before {
    content: "";
    position: absolute;
    height: 32px;
    width: 4px;
    left: -19px;
    background: #41F6D7;
  }
  .footer_768px {
    margin-top: 50px;
    display: block;
    margin-left: 40px;
    width: 100%;
  }
  .footer_768px div {
    margin-bottom: 15px;
  }
  .footer__icon-group {
    height: 50px;
    display: block;
  }
  .footer__icon-group > div {
    margin-right: 15px;
    display: block;
    float: left;
  }
  .footer__icon-group div:last-child {
    margin-right: 0;
  }
  .footer__mail a {
    color: inherit;
    text-decoration: none;
  }
  .footer__number {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    font-weight: 700;
  }
  .footer__number a {
    color: inherit;
    text-decoration: none;
  }
  .footer__lang-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer__lang-group div {
    margin-right: 10px;
  }
  .footer__lang-group:last-child {
    margin-right: 0;
  }
  .clearfix {
    clear: both;
  }
  .subtext {
    width: 100vw;
    background: #F8F8F8;
    padding-top: 30px;
    display: block;
    min-height: 60px;
    color: #1B1C21;
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }
  .subtext span {
    margin-left: 30px;
    margin-top: 20px;
    display: inline-block;
    max-width: 421px;
  }
  .commercial {
    margin-left: 15px;
    margin-top: 20px;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
  .commercial button a {
    color: inherit;
    text-decoration: none;
  }
  .commercial::after {
    content: "";
    position: absolute;
    top: 0;
    width: 15px;
    height: 15px;
    border-top: 3px solid #FF3E79;
    border-right: 3px solid #FF3E79;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .commercial__btn {
    font-weight: 700;
    background: none;
    border: none;
    height: 24px;
    width: 292px;
  }
  .page-footer {
    margin-top: 30px;
    font-size: 14px;
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100px;
  }
  .page-footer div {
    width: 220px;
  }
  .page-footer div:nth-child(2) {
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
}
@media (min-width: 1440px) {
  .active {
    color: #7E7E82;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    text-decoration: underline;
  }
  .lang-active {
    color: #7E7E82;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    text-decoration: underline;
  }
  .active::before {
    content: "";
    position: absolute;
    height: 32px;
    width: 4px;
    left: -19px;
    background: #41F6D7;
  }
  .inactive-menu {
    -webkit-transition: 0.7s all;
    transition: 0.7s all;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .active-menu {
    -webkit-transition: 0.7s all;
    transition: 0.7s all;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .disabled {
    display: inline-block;
  }
  .enabled {
    display: block;
  }
  .order-wrapper {
    display: inline-block;
    margin-bottom: 20px;
    width: 37%;
    float: right;
  }
  .header_768px {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__burger {
    display: none;
    cursor: pointer;
  }
  .header-icons-wrapper {
    display: none;
    width: 400px;
  }
  .icon-group_mod {
    float: left;
  }
  .header__tools {
    margin: 0px;
    padding: 0px;
  }
  .header__search {
    margin-left: 15px;
    padding: 0px;
  }
  .header__logo {
    width: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #brands {
    -webkit-transform: translateY(120%);
            transform: translateY(120%);
  }
  .header__burger {
    display: none;
  }
  .wrapper_mod {
    -webkit-transform: translateX(283px);
            transform: translateX(283px);
    margin-top: 20%;
    width: 80%;
    margin-top: 40px;
    padding-left: 37px;
  }
  .grid-container {
    margin-left: 15px;
  }
  #for1440px {
    width: 80%;
    -webkit-transform: translateX(25%) !important;
            transform: translateX(25%) !important;
  }
  .menu-wrapper {
    width: 20%;
    float: left;
    height: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .wrapper__header {
    margin-left: 37px;
    margin-top: 100px;
  }
  .main-menu {
    line-height: 60px;
  }
  .main-menu-1440px {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: relative;
    z-index: 10;
    font-size: 16px;
    line-height: 40px;
    list-style-type: none;
  }
  .main-menu_768px li a:hover:checked:visited {
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    text-decoration: underline;
  }
  .grid-container_technics {
    margin-top: 30px;
  }
  .main-menu_768px li > a {
    color: inherit;
    text-decoration: none;
  }
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 25px;
    left: 162px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
  .menu-btn > span::before {
    content: "";
    top: -8px;
  }
  .menu-btn > span::after {
    content: "";
    top: 8px;
  }
  #menu-toggle {
    opacity: 0;
  }
  #menu-toggle:checked ~ .menu-btn > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menu-wrapper {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #menu-toggle:checked ~ .menu-btn {
    left: 162px;
  }
  #menu-toggle:checked ~ .main-mod {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .header__logo {
    margin-right: 45px;
  }
  .main-menu_768px {
    position: relative;
    z-index: 10;
    font-size: 16px;
    line-height: 40px;
    list-style-type: none;
  }
  .main-menu_768px li a:hover:checked:visited {
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    text-decoration: underline;
  }
  .main-menu_768px li > a {
    color: inherit;
    text-decoration: none;
  }
  .active {
    color: #7E7E82;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    text-decoration: underline;
  }
  .lang-active {
    color: #7E7E82;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    text-decoration: underline;
  }
  .active::before {
    content: "";
    position: absolute;
    height: 32px;
    width: 4px;
    left: -19px;
    background: #41F6D7;
  }
  .footer_768px {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 40px;
    width: 70%;
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  .footer_768px div {
    margin-bottom: 15px;
  }
  .footer__icon-group {
    display: block;
  }
  .footer__icon-group > div {
    margin-right: 15px;
    display: block;
    float: left;
  }
  .footer__icon-group div:last-child {
    margin-right: 0;
  }
  .footer__mail a {
    color: inherit;
    text-decoration: none;
  }
  .footer__number {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    font-weight: 700;
  }
  .footer__number a {
    color: inherit;
    text-decoration: none;
  }
  .footer__lang-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer__lang-group div {
    margin-right: 25px;
    cursor: pointer;
  }
  .footer__lang-group:last-child {
    margin-right: 0;
  }
  .clearfix {
    clear: both;
  }
  .subtext {
    width: 80%;
    background: #F8F8F8;
    padding-top: 30px;
    display: block;
    min-height: 60px;
    color: #1B1C21;
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    -webkit-transform: translateX(254px);
            transform: translateX(254px);
  }
  .subtext span {
    margin-left: 30px;
    margin-top: 20px;
    display: inline-block;
    max-width: 421px;
  }
  .commercial {
    -webkit-transform: translateX(254px);
            transform: translateX(254px);
    width: 80%;
    margin-left: 15px;
    margin-top: 20px;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
  .commercial button a {
    color: inherit;
    text-decoration: none;
  }
  .commercial::after {
    content: "";
    position: absolute;
    top: 0;
    width: 15px;
    height: 15px;
    border-top: 3px solid #FF3E79;
    border-right: 3px solid #FF3E79;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .commercial__btn {
    font-weight: 700;
    background: none;
    border: none;
    height: 24px;
    width: 292px;
  }
  .page-footer {
    margin-top: 30px;
    font-size: 14px;
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100px;
    -webkit-transform: translateX(267px);
            transform: translateX(267px);
  }
  .page-footer div {
    width: 220px;
  }
  .page-footer div:nth-child(2) {
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .clearfix {
    clear: both;
  }
}
.modal-call, .modal-feedback {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 99;
  padding: 30px 0;
  background-color: rgba(220, 227, 222, 0.8);
}

.modal-call__window, .modal-feedback__window {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #D9FFF5;
  width: 440px;
  height: 940px;
  border-radius: 1px;
}

.modal-inactive {
  display: none;
}

.modal-activa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.forms {
  width: 80%;
  margin: 0 auto;
}

.forms > input:not(:last-child) {
  border: 1px solid #EAEAEA;
  width: 22rem;
  height: 50px;
  background: #ffffff;
  color: black;
  border-radius: 8px;
  margin-bottom: 20px;
}

.forms > input:nth-child(4) {
  margin-bottom: 20px;
  height: 120px;
  padding-bottom: 75px;
}

.modal-call__title, .modal-feedback__title {
  display: block;
  width: 80%;
  margin: 0 auto;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  font-weight: 700;
  padding: 25px 0;
}

.modal-feedback__terms, .modal-call__terms {
  width: 80%;
  margin: 0 auto;
  color: #7E7E82;
  font-size: 14px;
  margin-bottom: 20px;
}

.personal-data, .confindetial-policy {
  font-size: 14px;
  color: #FF3E79;
}

.modal-call__btn, .modal-feedback__btn {
  height: 32px;
  width: 136px;
  border-radius: 16px;
  color: #ffffff;
  background-color: #FF3E79;
  float: right;
}

.forms::after {
  content: "";
  position: absolute;
  top: calc(33rem + 12px);
  right: 4rem;
  height: 5px;
  width: 5px;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-call__form::after {
  top: calc(15rem + 20px);
}

@media (max-width: 1024px) {
  .modal-call, .modal-feedback {
    width: 100vw;
  }
  .modal-call__window {
    left: 50%;
    margin-left: -50%;
  }
  .modal-call__form::after {
    top: calc(16rem + 13px);
  }
}
@media (max-width: 768px) {
  .modal-call__window {
    margin-left: -50%;
  }
}
@media (max-width: 425px) {
  .modal-call__window {
    margin-left: -50%;
  }
  .modal-call__form input[type=tel] {
    width: 19rem;
  }
}
@media (max-width: 375px) {
  .modal-call__window {
    width: 22%;
    margin-left: -50%;
  }
  .modal-call__form input[type=tel] {
    width: 17rem;
  }
}
@media (max-width: 320px) {
  .modal-call__window {
    width: 40%;
    margin-left: -50%;
  }
}
html, body {
  width: 100%;
  max-width: 100%;
}

body {
  background: #F2F2F2;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Medium.woff");
  font-weight: 400;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakesCondensed-Bold.woff");
  font-weight: 700;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Regular.woff");
  font-weight: 300;
}
body {
  font-family: TT Lakes;
  font-weight: 400;
}